:root {
    --main-bg-color: darkgrey;
    --map-bg-color: grey;
    --button-color: grey;
    --button-active-color: #3C3C3C;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

#content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    width: 100%;
    height: 100%;
    margin: 0;
}