:root {
    --main-bg-color: darkgrey;
    --map-bg-color: grey;
    --button-color: grey;
    --button-active-color: #3C3C3C;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

#map {
    flex-grow: 9;
    flex-basis: 0;
    min-width: 270px;
    height: 100%;
    background-color: var(--map-bg-color);
}

#sidebar {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 210px;
    padding: 30px;
    background-color: var(--main-bg-color);
}

#content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    width: 100%;
    height: 100%;
    margin: 0;
}