:root {
    --main-bg-color: darkgrey;
    --map-bg-color: grey;
    --title-color: #222222;
    --button-color: grey;
    --link-color: #222222;
    --link-hover: #5C5C5C;
    --info-bg-color: lightgrey;
    --button-active-color: #3C3C3C;
    --sidebar-padding: 30px;
    --sidebar-hideButton-width: 60px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: var(--map-bg-color);
}

h1 h2 h3 {
    margin: 0 0 2% 0;
    color: var(--title-color);
}

p {
    margin: 0;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover)
}

#content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

#sidebar-with-button {
    position: absolute;
    z-index: 1;
}

#sidebar {
    position: relative;
    padding: var(--sidebar-padding) var(--sidebar-hideButton-width) var(--sidebar-padding) var(--sidebar-padding);
    height: calc(100vh - 2 * var(--sidebar-padding));
    overflow: auto;
    background-color: var(--main-bg-color);
    max-width: 250px;
}

#sidebarHideButton {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: var(--sidebar-hideButton-width);
    padding: 0;
    font-size: 15px;
    color: white;
    background-color: var(--main-bg-color);
    border: 0;
    z-index: 2;

}

#map {
    position: relative;
    height: 100%;
    background-color: var(--map-bg-color);
    display: block;
    z-index: 0;
}

.media-content {
    width: 65%;
    margin: 0 auto 40px auto;
}

.iframe-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.iframe-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}

